html{
    overflow:hidden;
}

html, body, .mainContainer{
    height: 100%
}

.googleLoadingOverlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
}

.greyOverlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.75;
    z-index: 100;
}

.messageOverlay{
    background: white;
    position: absolute;
    top: 50%;
    left: 10%;
    right:10%;
    padding: 1em;
    z-index: 200;
    text-align:center;
}

.coreModuleContainer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 48px;
    overflow:auto;
}

.HomeHTML{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.changelog{
    max-height: 300px;
    overflow-y: scroll;
    max-width: 1024px;
    background: lightgrey;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
}

.moduleContainer.hidden{
    display:none;
}

.libraryGameCard{
    display: inline-block;
    text-align: center;
    padding: 1em;
    border: 1px black solid;
    border-radius: 1em;
    margin:0.5em;
    max-width:160px;
}

.libraryGameCard img{
    display:block;
    height:144px;
    width:160px;
}

.libraryGameLink, .libraryGameLink:hover{
    color: black;
    text-decoration: none;
}

.center{
    text-align: center;
}

.hidden{
    display:none !important;
}

#library{
    left: 0;
    bottom: 3em;
    right: 0;
    position: absolute;
    overflow-y: auto;
    top: 0;
}

.libraryBottom{
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    margin-bottom: 0;
}

#gbOuterContainer{
    text-align:center;

}

#gbOuterContainer.fullscreen{
    background:black;
    width:100%;
}

#gbInnnerContainer{
    width:320px;
    height:288px;
    display:inline-block;
}

.fullscreen #gbInnnerContainer{
    width:inherit;
    height:100%;
}

#gbLCD{
    height:100%;
}

#noGameLoadedDisplay{
    width:100%;
    height:100%;
    display:inline;
    background:white;
}

#nesOuterContainer{
    text-align:center;

}

#nesOuterContainer.fullscreen{
    background:black;
    width:100%;
}

#nesInnnerContainer{
    width:384px;
    height:360px;
    display:inline-block;
}

.fullscreen #nesInnnerContainer{
    width:inherit;
    height:100%;
}

#nesLCD{
    height:100%;
}

#libraryListContainer{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:300px;
    border-right: 1px solid black;
}
#GameDisplayArea{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:300px;
    border-left: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

#GameDisplayArea img{
    max-width: 100%;
    max-height: 50%;
}

#libraryListContainer .btn-group{
    width: 100%;
}

#libraryListContainer .btn-group .btn{
    width:100%;
    padding-left:0;
    padding-right:0;
    border-left:none;
    border-right:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height:20px;
}

#libraryListContainer .btn-group .dropdown-menu{
    width: 100%;
    text-align:center;
}

#libraryList{
    background:white;
    position:absolute;
    top: 30px;
    left:0;
    right:0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#libraryList li{
    width: 100%;
    padding-left: 5px;
}

#libraryList li:hover{
    cursor: pointer;
}

#libraryList li.selected, #libraryList li:hover{
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    color: white;
}

#libraryList li i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
}

#libraryList li i.gameicon-nes{
    background-image: url("../img/icons/systems/nes.png");
}
#libraryList li i.gameicon-gb{
    background-image: url("../img/icons/systems/gb.png");
}
#libraryList li i.gameicon-gbc{
    background-image: url("../img/icons/systems/gbc.png");
}

.gameCommentContainer{
    width: 625px;
    display:inline-block;
}